body {
    background-color: cadetblue;
    font-size: medium;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

form {
    border: solid  2px black;
    border-radius: 10px;
    padding: 10px;
    max-width: fit-content;
    background-color: black;

}

fieldset {
    background-color: white;
    border: solid  1px black;
    border-radius: 10px;
    padding: 10px;
    min-width: 285px;
}
#result {
    font-size: 24px;
    padding: 20px;
    border: 10px solid black;
    border-radius: 10px;
    background-color: white;    
  }
  .boven {
    background-color: red;
    color: white;
  }