p {
 font-size: 17px;
}

body {
    margin-left: 210px;
    margin-right: 210px;
}

li {
    font-size: 20px;
    margin-top: 5px;
}

img {
    margin-bottom: 20px;
    margin-right: 20px;
}
h3 {
    margin-top: 30px;
}
a {
    margin-right: 20px;

}
 .dot {
  font-size: 65px;
  color: orange;
  margin-top: -80px;
  margin-bottom: -10px;
}

